[2016-04-25 13:49] JohnCremona opened #11 "Add content to db-maasswaveforms.md"
Add content to or delete  MaassWaveForm(s).md -- one of each!

[2016-04-25 13:51] JohnCremona opened #12 "Add content to db-SL2Zsubgroups.md"
db-SL2Zsubgroups.md

[2016-04-25 13:51] JohnCremona opened #13 "Add content to db-modularforms2.md (classical modular forms)"

[2016-04-25 13:52] JohnCremona opened #14 "Add content to db-bmfs.md (Bianchi Modular Forms)"

[2016-04-25 13:53] JohnCremona opened #15 "Add content to db-hgm.md (Hypergeometric Motives)"

[2016-04-25 13:54] JohnCremona opened #16 "Add content to db-hmfs.md (Hilbert Modular Forms)"

[2016-04-25 13:54] JohnCremona opened #17 "Add content to db-localfields.md"

[2016-04-25 13:55] JohnCremona opened #18 "Add content to db-numberfields.md"

[2016-04-25 13:55] JohnCremona opened #19 "Add content to db-siegel_modular_forms.md"

[2016-05-08 10:19] AndrewVSutherland commented on #13
The inventory for modularforms2 should indicate exactly which collections are actually used by the production system (there are many different incarnations of various collections and it is not clear which are currently used and which are not), and should also make clear exactly which subset of the records in a given collection are used in the current production system (e.g. only those with 'versio

[2016-05-08 11:51] JohnCremona commented on #13
+1
Please delete all redundant collections!
On 8 May 2016 11:19 a.m., "AndrewVSutherland" notifications@github.com
wrote:

[2016-05-18 15:49] AndrewVSutherland opened #23 "Add index information to database inventory"
As noted in https://github.com/LMFDB/lmfdb/issues/1403, we need to document and keep track of the indexes we are using, this has a big impact on the performance of the LMFDB, and lmfdb-inventory seems like the right place to do this.  As an example/template, I have added index information to

https://github.com/LMFDB/lmfdb-inventory/blob/master/db-sato_tate_groups.md

(scroll down to the bottom to

[2016-05-22 15:41] edgarcosta commented on #11
MaassWaveForm deleted.
Still missing the content of MaassWaveForms.md

[2016-05-23 09:17] JohnCremona commented on #23
I have added index information to elliptic_curves (new) curves2 collection, still at https://github.com/JohnCremona/lmfdb-inventory/blob/master/db-elliptic_curves.md, but will expand it to match the Sato-Tate model.  (All I did was paste in the output from [i['key'] for i in curves2.index_information().values()])
Later: the PR has this better formatted.

[2016-06-12 14:52] AndrewVSutherland commented on #18
Content appears to have been added, closing.

[2016-06-12 14:52] #18 closed, assigned to nobody

[2016-06-12 14:52] AndrewVSutherland commented on #17
Content now present, closing.

[2016-06-12 14:52] #17 closed, assigned to nobody

[2016-06-12 14:54] AndrewVSutherland opened #29 "Add documentation to HTPicard.md"

[2016-06-12 14:55] AndrewVSutherland opened #30 "Add content to db-maasswaveforms.md"

[2016-06-12 14:56] AndrewVSutherland commented on #30
Duplicates #11

[2016-06-12 14:56] #30 closed, assigned to nobody

[2016-06-12 14:58] AndrewVSutherland commented on #19
db-siegel_modular_forms_experimental.md should also be documented (or deleted)

[2016-06-13 09:16] JohnCremona commented on #14
I am closing this since all the data is the dimensions collection is documented, while the forms collection is still empty.

[2016-06-13 09:16] #14 closed, assigned to nobody

[2016-06-13 09:18] AndrewVSutherland commented on #14
Indexes?

[2016-06-13 09:42] JohnCremona commented on #14
If I was working on this code then I would care.  As I am not, there are too many other things to do, I am just going to delete this database since if I ever get to work on Bianchi forms again I will just recreate it.

[2016-06-15 11:41] AndrewVSutherland opened #34 "Add documentation to db-abvar.md"

[2016-06-15 11:54] AndrewVSutherland opened #35 "Add documentation to db-mod_l_eigenvalues.md"

[2016-06-15 11:55] AndrewVSutherland opened #36 "Add documentation to db-mod_l_galois.md"

[2016-06-15 11:55] AndrewVSutherland opened #37 "Add documentation to db-siegel_modular_forms.md"

[2016-06-15 11:56] AndrewVSutherland opened #38 "Add documentation for db-transitivegroups.md"

[2016-06-22 13:30] AndrewVSutherland commented on #19
This has been done.

[2016-06-22 13:30] #19 closed, assigned to nobody

[2016-07-16 09:57] #37 closed, assigned to nobody

[2016-07-16 10:01] AndrewVSutherland commented on #38
The Gmodules collections still needs to be documented, and index information needs to be added for all collections.

[2016-07-16 10:07] AndrewVSutherland commented on #36
@sanni85 The [mod_l_galois database](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-mod_l_galois.md) still has no documentation.

[2016-07-16 10:09] AndrewVSutherland commented on #38
@jwj61 the Gmodules collections still needs to be documented, and index information needs to be added for both groups and Gmodules.

[2016-07-16 10:10] AndrewVSutherland commented on #35
@sanni85 the [mod_l_eigenvalues database](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-mod_l_eigenvalues.md) still has no documentation.

[2016-07-16 10:12] AndrewVSutherland commented on #34
@roed314, the [abvar](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-abvar.md) database still has no documentation.

[2016-07-16 10:13] AndrewVSutherland commented on #29
@davidfarmer the [HTPicard database](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-HTPicard.md) still has no documentation.

[2016-07-16 10:16] AndrewVSutherland commented on #16
@jvoight, the [hmfs database](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-hmfs.md) still has no documentation.

[2016-07-16 10:16] #15 closed, assigned to nobody

[2016-07-16 10:21] AndrewVSutherland commented on #13
@sehlen, @fredstro The [modularforms2 database](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-modularforms2.md) still has no documentation.

[2016-07-16 10:24] AndrewVSutherland commented on #12
@sehlen, the [SL2Zsubgroups database](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-SL2Zsubgroups.md) still has no documentation.

[2016-07-16 10:25] AndrewVSutherland commented on #11
@lemurell, @fredstro The [maasswaveforms](https://github.com/LMFDB/lmfdb-inventory/blob/master/db-MaassWaveForms.md) database still has no documentation.

[2016-07-16 12:52] sehlen commented on #13
I know. I'm sorry but I'll be moving from Canada back to Europe next
weekend and won't have much time during the next 2-3 weeks probably.

On Sat, Jul 16, 2016, 06:21 Andrew Sutherland notifications@github.com
wrote:

[2016-07-16 12:53] sehlen commented on #13
PS: I started some documentation in my fork on github a while ago (just in
case @fredstro wants to continue it).

On Sat, Jul 16, 2016, 08:51 Stephan Ehlen mail@stephanehlen.de wrote:

[2016-07-21 14:18] AndrewVSutherland commented on #13
Thank you @fredstro for filling this in!  Closing.

[2016-07-21 14:18] #13 closed, assigned to nobody

[2016-07-22 23:48] jwj61 commented on #38
Done

[2016-07-22 23:48] #38 closed, assigned to nobody

[2016-10-31 16:27] #35 closed, assigned to nobody

[2016-12-13 20:59] JohnCremona commented on #34
I just merged a pull request which might deal with this.

[2016-12-13 21:00] #36 closed, assigned to nobody

[2016-12-13 21:01] #34 closed, assigned to nobody

[2017-05-16 14:56] jwj61 opened #49 "Add more small groups to sato-tate.smal_groups"
I am making updates to the local fields database/pages.  When an inertia subgroup is not transitive, we will identify the group by gap small group id (rather than the first instance as a transitive subgroup), and am pulling information from the small_groups database.

Currently, the only extra group I need is [324, 164], but adding others is obviously fine too.

On a related note, I plan to make d

[2017-05-16 15:50] AndrewVSutherland commented on #49
I can easily add small groups data for all 92804 groups of order less than 512 (there are over 10 million of order 512, so I don't think we want to add those without a compelling reason).  It would be easy to add a list of group ids of maximal and normal subgroups (so just up to isomorphism, not up to conjugacy).

I'm not sure it makes sense to give detailed conjugacy class data, which would be ra

[2017-05-16 16:27] jwj61 commented on #49
I wondered where you got the pretty names from.  Good to know.

Doing groups of orders < 512 now looks like it makes sense.

I view adding additional information about each group as worthwhile in the long run, but we would probably want input from others first.  By the way, I like your suggestion on maximal and normal subgroups (preferably with multiplicity information).

By the way, for the group

[2017-05-16 16:39] AndrewVSutherland commented on #49
Yes, I agree normal and maximal subgroup ids should be recorded with multiplicity.  I could also see adding the commutator subgroup (and corresponding abelian quotient), along with the center.

I have a magma script that generates the data that gets loaded into the small groups collection, so it is easy to add invariants as we think of them, we don't need to agree on a "complete" set now (as long

[2017-05-21 14:09] AndrewVSutherland commented on #49
Small groups data for groups of order < 512 is now available on beta, including the group [324,164], see
http://beta.lmfdb.org/api/sato_tate_groups/small_groups/?label=324.164.

I added conjugacy class summary info, information on maximal/normal subgroups, as well as the center, derived group, and maximal abelian quotient (I'll update the inventory doc to reflect this shortly).

Let me know if/whe

[2017-05-21 16:32] jwj61 commented on #49
Looks great.

[2017-05-21 16:51] AndrewVSutherland commented on #49
OK, the data is now on the cloud, see http://www.lmfdb.org/api/sato_tate_groups/small_groups/?label=324.164, for example.

[2017-05-21 16:51] #49 closed, assigned to AndrewVSutherland

[2017-05-24 22:15] jwj61 opened #50 "pull request for local fields"
Please upload newfields and newfields.rand to the cloud.  There were errors when generating labels of some of the new entries, now fixed.

[2017-05-24 22:51] AndrewVSutherland commented on #50
Done.  Let me know if the data looks good and I will then delete the old versions.

[2017-05-24 23:02] jwj61 commented on #50
It may be a while.  The changes are not visible until the supporting code makes its way to the production server.

[2017-05-24 23:10] AndrewVSutherland commented on #50
No rush.

On 2017-05-24 19:02, John Jones wrote:

[2017-06-29 17:54] jwj61 commented on #50
Ready for the next step: please copy fields and fields.rand from localfields to the cloud.  The cloud version of the code does not currently access this data, but will.  Note, we cannot delete newfields from the cloud until the code change catches up.

[2017-06-29 18:27] AndrewVSutherland commented on #50
Done.  I trust it is safe to delete fields.old?

[2017-06-29 18:49] jwj61 commented on #50
Yes.

[2017-06-29 19:09] #50 closed, assigned to nobody

[2017-07-14 14:56] JohnCremona opened #53 "Pull request for bmfs and ecnf"
Please could we copy the following to the cloud?
1. elliptic_curves.nfcurves with rand and stats
2. bmfs.dimensions, bmfs.forms, bmfs.forms.rand
The bmfs database does not yet exist on the cloud.

It may be that we do not yet need to copy bmfs to the cloud since the code which refers to it is all beta but I think it would be safer to do so now: after the next push master -> prod  anyone looking at

[2017-07-14 15:08] AndrewVSutherland commented on #53
1 and 2 are both done.  Let me know if you are happy with nfcurves so I can delete the old versions.

[2017-07-14 16:16] JohnCremona commented on #53
Thanks -- it may not be until tomorrow (likewise your other PR -- I was not expecting it so fast!)

[2017-07-14 19:07] JohnCremona commented on #53
OK -- looks good, you can delete the nfcurves*old collections (or I will if you are too busy celebrating!)

[2017-07-14 19:57] AndrewVSutherland commented on #53
Done (celebrating will commence shortly :))

[2017-07-18 09:07] JohnCremona commented on #53
Same again please (both bmfs and nfcurves, same collections as before).
This adds data over 2.0.3.1 for range 120k-130k (both bmfs and nfcurves); adds some missing cm curves; and adds galrep data to all the nfcurves.

[2017-07-18 09:15] AndrewVSutherland commented on #53
Done.  Let me know once you have checked the results and I will delete the old versions.

[2017-07-18 12:28] JohnCremona commented on #53
Looks good, the old ones can go.  e.g. see the large exceptional prime at EllipticCurve/2.0.3.1/109561.1/CMa/1.  Thanks!

[2017-07-24 15:54] JohnCremona commented on #53
Same again would add data for field 2.0.3.1 range 130k-140k for both Bianchi forms and elliptic curves.  In a week or so there will be more so it's fine to ignore this -- not bug fixes, just more date.

[2017-07-24 15:59] AndrewVSutherland commented on #53
Done!

[2017-07-24 15:59] #53 closed, assigned to nobody

[2017-07-24 16:03] JohnCremona commented on #53
Thanks a lot

[2017-07-27 22:02] roed314 opened #54 "Add db-abvar to the cloud"
In https://github.com/LMFDB/lmfdb/pull/2208 we suggest removing the beta status from isogeny classes of abelian varieties over finite fields.  John Jones said that we should create an issue here to ensure that the corresponding data is accessible for the website.

[2017-07-28 12:32] AndrewVSutherland commented on #54
Done -- the abelian varieties pages now appear to work on the cloud (see http://www.lmfdb.org/Variety/Abelian/Fq/).

The performance is noticeably slower in several places, which I'm guessing has to do with not having indexes set up to support some of the queries (e.g. browse by dimension/Fq-card).  The cloud server is using the wired tiger storage engine and this makes unindexed queries much more

[2017-07-28 19:04] roed314 commented on #54
I've copied the collection to fq_isog.stats and updated the pull request with a commit which uses it.  Presumably the old collection should be deleted at some point, but I'm going to hold off on that until the code gets updated to use it.

Is there a way to tell which fields have indexes set up?  I'm fairly confident that we have indexes on g and q, but I agree that page loads are quite slow....

[2017-07-28 19:22] JohnCremona commented on #54
<collection_name>.index_information()

[2017-07-28 19:22] AndrewVSutherland commented on #54
You can use the pymongo method index_information() (see https://api.mongodb.com/python/current/api/pymongo/collection.html?highlight=index_information#pymongo.collection.Collection.index_information)

{u'A_counts_1': {u'key': [(u'A_counts', 1)], u'ns': u'abvar.fq_isog', u'v': 1},
 u'C_counts_1': {u'key': [(u'C_counts', 1)], u'ns': u'abvar.fq_isog', u'v': 1},
 u'_id_': {u'key': [(u'_id', 1)], u'ns'

[2017-07-28 19:27] roed314 commented on #54
Thanks!  I'll do that now.

[2017-07-28 19:32] roed314 commented on #54
Thanks; I've created the indices.  We'll poke around and see if there are any reasonable queries that still feel sluggish.

[2017-07-28 19:48] AndrewVSutherland commented on #54
I updated the fq_isog collection on the cloud so it picked up the indices on g and q that you added (the corresponding queries are now much snappier,e.g. http://www.lmfdb.org/Variety/Abelian/Fq/1/27/ now loads very quickly).

[2017-08-04 11:30] JohnCremona commented on #53
On 2017-08-03 I updated bmfs.{forms,dimensions} and elliptic_curves.nfcurves myself.

Just adding this to keep the record up-to-date -- possibly not neccessary?

[2017-08-04 12:24] AndrewVSutherland commented on #53
@JohnCremona I think this is useful.  When I get a chance I will modify the update script to log information in a mongo db collection, but I have not done this yet.

[2017-08-21 10:21] JohnCremona opened #55 "pull request for hmfs collections"
I'm about to copy hmfs.forms.search and hmfs.forms.search.rand to the cloud.  Later hmfs.forms.search.stats will follow (still being created).  I'll do these myself.  These are fairly small (mongodump bson file is 124M) and already exist on the cloud so this is simple.

After this at some point soon I'll want to copy hmfs.hecke to the cloud -- a new collection not there yet -- which is a bigger it

[2017-08-21 10:34] JohnCremona commented on #55
OK so I just discovered that the update script is unhappy about a collection name not listed in db-collections.txt, which is reasonable, and I can add forms.search.rand to that but I can see that this file is part of the git repository lmfdb-gce so rather than edit my copy (in my home dir on ms) I have cloned the lmfdb-gce repo there and will use that.

Please will someone install emacs on ms?!  I

[2017-08-21 14:33] JohnCremona commented on #55
...OK, so I had a clone already so I updated the hmfs collections names.  I'll make a PR to the lmfdb-gce repository.  Meanwhile I did what I said I would for the forms.search (including .rand and .stats which are now in the list), checked all was well and deleted forms.search.old.

[2017-08-22 20:04] JohnCremona commented on #55
Just started copying hmfs.hecke after checking with @edgarcosta that there was enough space (~85G).  After the open PR's on lmfdb code are merged it will be possible to delete hmfs.forms.  Of course we'll try that out on beta first (and not literally delete it at first).

[2017-08-22 21:33] JohnCremona commented on #55
Finished copying hecke collection.

[2017-08-23 15:09] JohnCremona commented on #55
Question for either @AndrewVSutherland  ot @edgarcosta :  Can I find out from the cloud when each collection was last updated?  I know we talked about keeping a log of runs of the update script, but it would also be nice to be able to get a list of collections on the production database and when they were last updated.  (I am not saying that I have forgotten which I have or not updated....honestly

[2017-08-23 15:39] JohnCremona commented on #55
I suppose that was too good to be true.  beta is working fine but when I renamed hmfs.forms to hmfs.forms.bak it wasn't.  I renamed it back again and will see what I did wrong.

[2017-08-23 18:13] AndrewVSutherland commented on #55
@JohnCremona Regarding your question, short of scrolling through the mongo db log-file I don't know of an easy way to determine when a collection was last updated.

[2017-08-23 18:45] edgarcosta commented on #55
I also don't know an easy way to do that.
Unless we keep track of it somewhere is not a trivial thing.
One way would be to keep track of it in some collection.

I checked the ObjectId of the restored/moved objects, and they keep
the original timestamp. Hence we can't use that to keep track when the
data was moved to the cloud, but we can use that to see when was the
last object inserted in that co

[2017-08-23 18:47] JohnCremona commented on #55
On 23 Aug 2017 19:45, "Edgar Costa" <notifications@github.com> wrote:

I also don't know an easy way to do that.
Unless we keep track of it somewhere is not a trivial thing.
One way would be to keep track of it in some collection.

I checked the ObjectId of the restored/moved objects, and they keep
the original timestamp. Hence we can't use that to keep track when the
data was moved to the cloud,

[2017-08-24 12:53] JohnCremona commented on #55
OK so now on beta there is no collection hmfs.forms (it is renamed as hmfs.forms.bak; I did not use forms.old since that notation comes with an expectation that there is another collection without the '.old' suffix).   All HMF pages on beta are working normally (please check).
Next step is to push the latest code change to prod; then it will be safe to actually delete the hmfs.forms on prod since

[2017-08-24 13:08] edgarcosta commented on #55
I tried some, and it looks good to me.

On 24 August 2017 at 07:53, John Cremona <notifications@github.com> wrote:

[2017-08-24 13:17] JohnCremona commented on #55
Thanks.  I missed 1400 (my time) and any moment now...yes, new code now running on prod.
@edgarcosta I'm sure you can more easily than me rename the hmfs.forms collection on the cloud (prod database), say to hmfs.form.bak?  If you do that and the pages all still work then that collection can be deleted.

[2017-08-24 13:27] edgarcosta commented on #55
done!
see http://www.lmfdb.org/api/

everything seems to work fine.

please, double-check before I delete the collection.

On Thu, 24 Aug 2017 at 08:17 John Cremona <notifications@github.com> wrote:

[2017-08-24 13:40] JohnCremona commented on #55
Yes it looks good to me (even the L-functions).  You can delete forms.bak from the prod database.  For a while let's keep it on beta though, though it can be reconstructed from the union (in effect) of forms.search and hecke.

[2017-08-24 14:43] edgarcosta commented on #55
Collection dropped.

On Thu, 24 Aug 2017 at 08:40 John Cremona <notifications@github.com> wrote:

[2017-08-24 15:02] JohnCremona commented on #55
Thanks.  I'll comment on an issue in LMFDB/lmfdb so that others notice (e.g. JV & DY).

[2017-09-01 19:50] jwj61 opened #58 "pull request for number fields"
Please pull numberfields.fields and numberfields.fields.rand to the cloud

Changes are: polynomials now use the new polredabs, we have a field so we can search for the old polredabs polynomials (code already in the production server), and new fields added (mostly from Weil polynomials)

[2017-09-01 19:52] jwj61 opened #59 "pull request for local fields"
Please pull localfields.fields to the cloud.  Change is the inclusion of Global Splitting Models for more fields.

[2017-09-02 09:16] AndrewVSutherland commented on #59
Done -- let me know if everything looks ok and then I will delete the old versions.

[2017-09-02 09:16] AndrewVSutherland commented on #58
Done -- let me know if everything looks ok and then I will delete the old versions.

[2017-09-02 16:06] jwj61 commented on #59
Something isn't right.

  http://beta.lmfdb.org/LocalNumberField/151.13.0.1

shows a Galois splitting model, but

  http://www.lmfdb.org/LocalNumberField/151.13.0.1

says it is not computed.

[2017-09-02 16:07] jwj61 commented on #58
Go ahead and delete old versions.

[2017-09-02 16:07] #58 closed, assigned to nobody

[2017-09-02 16:31] AndrewVSutherland commented on #59
Can you take a look again now?

[2017-09-02 16:35] jwj61 commented on #59
Now it works, thanks.

[2017-09-02 16:35] #59 closed, assigned to nobody

[2017-09-02 16:46] AndrewVSutherland commented on #59
Among the collections fields (15516) · fields.old (5321) · fields.rand (15516) · fields.tmp (15516) · newfields (15516) · newfields.rand (15516) currently listed on http://www.lmfdb.org/api/all, is it now safe to get rid of everything except fields and fields.rand, or do we still need newfields and newfields.rand?

[2017-09-02 16:47] jwj61 commented on #59
Keep just fields and fields.rand

[2017-09-02 16:54] AndrewVSutherland commented on #59
Done.   I would suggest also cleaning up the localfields database on beta if it is appropriate to do so, but I'll leave that to you.

[2017-09-05 02:41] edgarcosta commented on #54
When running the tests on abvar there are still some queries that run slow and show up in the log (usually queries faster than a certain threshold, which I think is 100ms, do not show up in the log)
Here is a sample:
https://gist.github.com/anonymous/5cc58a5ef1c2950e6e23c2a75cc60ca9
I'm not sure all of these can be fixed by adding indexes...

[2017-09-05 02:45] edgarcosta opened #60 "genus2_curves.tamagawa_numbers"
This collection has no description and also has no indexes, which makes most of the queries quite slow.

I believe we only need to add a compound index on label and p.

Here are some queries that pop up in the log when we run the tests on the genus 2 curves directory.
https://gist.github.com/4ed84c4523792a4c324978361c9786de

[2017-09-05 02:47] edgarcosta opened #61 "Lattices.Lat"
The collection Lattices.Lat might be missing some indexes.

Here are the queries that show up DB log when we run tests on the lattices folder:
https://gist.github.com/5da023e1ed656f6ff5d4cd1e3419a292

[2017-09-05 02:48] roed314 commented on #54
How should I interpret these?  I see a bunch of repetitions of the same
query, with what looks like increasing durations at the end.  Is it the
same query repeated multiple times, or is this showing some other behavior?
David

On Mon, Sep 4, 2017 at 10:41 PM, Edgar Costa <notifications@github.com>
wrote:

[2017-09-05 02:58] edgarcosta opened #62 "Lfunctions.Lfunctions"
The collection Lfunctions.Lfunctions is missing a compound index on {Group, conductor}.
It is used a couple of times in lmfdb/lfunctions/LfunctionsPlot.py

We are also missing a description on key 'group'.

I might be able to fix both things tomorrow.

[2017-09-05 03:01] edgarcosta opened #63 "missing indices for MaassWaveForms.FS and MaassWaveForms.maassform_plots"
The collections MaassWaveForms.FS and MaassWaveForms.maassform_plots might be missing some indices.

Here are some slow queries:
https://gist.github.com/40779474d965494209e9afb51e26f0dd

[2017-09-05 03:04] edgarcosta opened #64 "artin.representations missing index on BadPrimes"
I'm not sure adding the index will help very much.

But here are some slow queries:

[code]

[2017-09-05 03:12] edgarcosta opened #65 "bmfs"
We might be missing some compound indices in bmfs.forms to accommodate the query followed by the sort.

bmfs.dimesnsion also has a couple of slow queries.

Here is a sample of them:
https://gist.github.com/anonymous/e2f9ca1568d7f672cb7a25945b51441e

[2017-09-05 03:14] edgarcosta opened #66 "elliptic_curves.nfcurves"
We might be missing a couple of indexes.

See: https://gist.github.com/0fc8b8c1492633c4daf5409a859d31e7

[2017-09-05 03:34] edgarcosta opened #67 "hecke_algebras.hecke_algebras_l_adic has no indices"
The collection hecke_algebras.hecke_algebras_l_adic has no indices.
An obvious index would be {index, orbit_label, ell}. However, I'm not sure about the order.

[2017-09-05 04:02] edgarcosta commented on #54
Hi David,

This is indeed confusing.

1- Feel free to ignore repeated queries.
I basically grepped the MongoDB log for abvar, cut the time stamp away, and
sorted it, to group things together. and that is why you see the same bunch
of repetitions of the same query, with what looks like increasing durations
at the end. Also, some queries repeat multiple times because I run the
tests on abvar multipl

[2017-09-05 04:13] roed314 commented on #54
Some of these queries might have been from before we added the index on q
and g.  Also, is there a good way to have indices on things like point
counts (where the field is a list and we're constraining specific entries
in the list)?
David

On Tue, Sep 5, 2017 at 12:02 AM, Edgar Costa <notifications@github.com>
wrote:

[2017-09-05 04:14] edgarcosta commented on #54
One more thing.
The IXSCAN (and perhaps also the COLL_SCAN) tell you what index the query
ended up using...

That is what I got from here:
https://docs.mongodb.com/manual/reference/explain-results/

On 5 September 2017 at 00:02, Edgar Costa <edgarcosta@math.dartmouth.edu>
wrote:

[2017-09-05 04:19] edgarcosta opened #68 "hmf"
We might be missing a couple of indices.

See:
https://gist.github.com/5b43619edf6ca70440649c19828498cb

[2017-09-05 04:30] roed314 commented on #54
On Tue, Sep 5, 2017 at 12:14 AM, Edgar Costa <notifications@github.com>
wrote:

I see.  So it looks like some of the slow queries were in fact using
indices.  I'm happy to update things if anyone has suggestions.  In
particular, I'm about to make data changes to this collection, so if there
are suggestions on how to restructure the layout I'm open to it.

The current layout is
# 0  label

[2017-09-05 04:31] edgarcosta opened #69 "numberfields"
I believe there is a typo in one of the indices.
We have indexed 'oldpolredabscoeff**s**hash' and I believe we meant to hash 'oldpolredabscoeffhash' (no s).

[2017-09-05 04:41] edgarcosta opened #70 "siegel_modular_forms.samples slow queries"
There are many slow calls when we run the tests on Siegel modular forms.
I'm not sure all of these can be fixed by adding indices, but we should take a look:

https://gist.github.com/7dbadf1dc15f9089eebab1cd6933a05a

[2017-09-05 05:29] edgarcosta commented on #54
@AndrewVSutherland and @JohnCremona are the masters of designing indices and picking the right data formats.

I think the key question is what fields would you like to be able to search, and for what kind of searches. That will most likely mandate or data type.
For example, I believe that lists are not ideal to be searched on... I think we learned that with number fields, but I'm not completely su

[2017-09-05 05:50] edgarcosta commented on #54
I looked a bit into your search fields, and I would consider converting almost every list into a string, that represents a list.
In most cases, you are trying to match the first elements of an entry, and there is no hope to try to use multi key indexes for that (see https://docs.mongodb.com/manual/core/index-multikey/#examples)
However, matching the beginning of a string should be much faster, I h

[2017-09-05 06:01] roed314 commented on #54
On Tue, Sep 5, 2017 at 1:50 AM, Edgar Costa <notifications@github.com>
wrote:

I don't think the string approach will have the same functionality, since
you can't search by ranges.  Storing each array element by itself could
work, though it's a bit messy.  I'd be fine with having polynomial,
A_counts and C_counts split out into separate fields, with the compound
incides set up for searching based

[2017-09-05 08:20] JohnCremona commented on #65
Thanks, I'll look into it.  I did look at the queries which could be made and thought I had created appropriate indices, but the code has evolved since then.

[2017-09-05 09:12] JohnCremona commented on #54
A lot of the issues arising here are also arising all over the place.  A lot of the collections were set up when we (collectively) had little idea about what data fields were efficient.  @roed314 this is not just about "your" collection!  Lists are particularly problematic.

Here's just one example:  in elliptic_curves.curves (for elliptic curves over Q) there's a field 'ainvs' which is a list of

[2017-09-05 11:12] JohnCremona commented on #65
Do you have a date/timestamp on those?

[2017-09-05 13:56] edgarcosta commented on #65
These were all triggered by running `tests.sh`.

Here is the log with the timestamps:
https://gist.github.com/5f40bac386150839894218ab419b9d48

[2017-09-05 16:10] JohnCremona commented on #65
OK then, certainly anything in the tests should be indexed.  The new link concerns hmfs not bmfs.  I'll look into it tomorrow.

[2017-09-05 16:32] edgarcosta commented on #65
I have fixed the link.

[2017-09-05 17:00] roed314 commented on #54
I don't think it would be too bad to switch to a string for the polynomial
coefficients, though note that it does make some sense to do a search with
a range on one (or more) of the coefficients since that's how the algorithm
for searching for these polynomials works.

For the point count lists though, Drew specifically requested the ability
to search by range, so I don't think a string is the way

[2017-09-05 17:03] edgarcosta commented on #69
Duplicated. https://github.com/LMFDB/lmfdb/issues/2253

[2017-09-05 17:03] #69 closed, assigned to nobody

[2017-09-05 17:09] edgarcosta commented on #54
Then I would really consider storing the first elements of each list
individually, so I can use those to reduce your haystack, on some more
fancy searches.
In the end of the day, I don't think we can have a pretty and robust
solution at the same time :(

On 5 September 2017 at 13:00, roed314 <notifications@github.com> wrote:

[2017-09-05 18:08] jwj61 commented on #64
Added index for BadPrimes to beta

[2017-09-05 19:46] AndrewVSutherland commented on #60
Index has been added to both beta and prod (page load times are now 150-200ms faster, good catch).

[2017-09-05 20:30] edgarcosta commented on #60
Thanks

[2017-09-05 20:30] #60 closed, assigned to nobody

[2017-09-05 20:31] AndrewVSutherland commented on #60
I also added a description of the tamagawa_number collection to the genus2_curves inventory.

[2017-09-05 20:32] edgarcosta commented on #60
Great.
Thank you very much

[2017-09-05 21:09] AndrewVSutherland commented on #54
Please correct me if I am wrong @roed314, but at the moment the only searches we support on counts are searching for a prefix (e.g. typing [10,20] will match [10,20], [10,20,40],...).  This would still work (and work much more quickly) using a string.  I could also see an argument for adding a separate field with just the point count over the base field (possibly stored as an integer rather than a

[2017-09-06 15:37] edgarcosta commented on #62
I have added the description and the index to both servers.

[2017-09-06 15:37] #62 closed, assigned to nobody

[2017-09-06 16:24] edgarcosta commented on #54
A different pretty of what I had in mind, but indeed pretty and robust.

Today while trying to add indexes to this collection and fixing other things, I realized that the queries were never using the multikey index, and then I had an epiphany:
"Multikey indexes are reverse lookups for its elements."
Even though, MongoDB is aware of this, they don't use the reverse lookups unless we explicitly ask

[2017-09-06 17:12] AndrewVSutherland commented on #54
@edgarcosta Nice! This is a quick and easy fix.

[2017-09-06 18:35] edgarcosta commented on #54
I did some tests and the operand $all is great, the others not so much...

searching for initial coefficients = [9, 87-100]

The Naive method 6s (no index used):
[code]

Using `$all` on the 9 3s (polynomial index used):
[code]

Adding $lte and $gte to the polynomial 17s (the index on polynomial is used, but it doesn't reduce the search space)
[code]

[2017-09-06 20:32] edgarcosta commented on #54
I wasn't adding the $lte and $gte in a correct manner, I need to use `$elemMatch`
But we can only use that operator once inside of `$all`.
But we could add more by wrapping everything with an `$and` but that doesn't help us at all.

Now the same query is down to 1.7s.
[code]

I push a pull request tomorrow once I clean up my code.

[2017-09-07 07:29] roed314 commented on #54
Great.  I was working on some Sage stuff today and have a bunch of teaching
tomorrow, but I'm planning on working on updating the abvar database on
Friday: adding the number field data from John, marking some curves as
known non-Jacobians due to some observations of Noam, and fixing the
non-indexed lists as pointed out in this thread.  Edgar, if you do make
some more changes tomorrow, please let m

[2017-09-07 14:02] edgarcosta commented on #54
@roed314 I'm done touching abvar code.

[2017-09-07 15:22] JohnCremona commented on #65
I found a source of slowness in bmfs.dimensions and will fix it -- requires a small code change as well as a precomputation into a stats collection.  There was even TODO in the code -- my fault.

[2017-09-08 10:52] JohnCremona commented on #65
I have added a couple of new indices and made some code changes -- see upcoming PR over on LMFDB/lmfdb.
This is rather a dark art I think.  Watching the mongo log while running the bianchi tests I still see a couple of things, not count or find requests but things like
`command bmfs.dimensions command: getMore { getMore: 293342921519, collection: "dimensions" } cursorid:293342921519 keyUpdates:0 w

[2017-09-08 15:58] edgarcosta commented on #65
Yeah, there are many things in the mongo log I don't understand. But I wouldn't worry about it very much.

I don't think we can do that. But perhaps we should post the following on a regular basis:
[code]
https://gist.github.com/2f82df17bc6aee5f66700c3f42e0d8d1

and now you have the slowest queries that have been hitting the production server for the last two days.

[2017-09-08 16:07] edgarcosta commented on #65
perhaps, they can use: https://docs.mongodb.com/manual/reference/command/getLog/#dbcmd.getLog
?

[2017-09-09 09:22] roed314 commented on #54
I've written the script for updating the collection, but I had some
questions before running it.

* My current plan is to *add* new fields but not yet remove anything (and
I'll keep all the old indexes, as well as add new ones for the new
fields).  I'll then submit a pull request to change the website code to use
the new format.  Once this request is merged, then I'll run another rewrite
command t

[2017-09-09 10:16] AndrewVSutherland commented on #54
On 2017-09-09 11:22, roed314 wrote:

Yes, this is the right approach.

Exactly.

You are correct on both counts, although having a single-key index that
is a prefix of a multi-key index can make sense, e.g. ranged queries on
the single key will likely be faster (it mostly depends on how big the
remaining keys are, but if you have a very short first key followed by a
much longer second key and actu

[2017-09-09 10:20] JohnCremona commented on #54
On 9 September 2017 at 10:22, roed314 <notifications@github.com> wrote:

That would work.  One always has to be careful when both code and data
change.  The second step is not urgent.

No.  It never deletes or renames anything itself.  The standard is to take
collection 'coll' and rewrite to 'coll.new' which must not exist.  You can
test your code against coll.new by changing the collection name i

[2017-09-09 10:22] JohnCremona commented on #54
(I only saw @AndrewVSutherland 's replies after writing my own. Sorry.)

[2017-09-09 18:34] roed314 commented on #54
No problem about the double reply!  You both had useful things to say.

I will go ahead and add a sorting key, remove the p_rank from the end of
the indexes.

It's frustrating that the key is stored with every record, but I understand
that's just a constraint we have to live with.  I was changing the names
because, in the strategy I described to Drew, I need to keep the old name
around.  How about

[2017-09-12 19:24] roed314 commented on #54
Sorry for the delay: I got a bit sick over the weekend, and figuring out
the sort key took a bit of time.

I've made the changes to the collection (the old collection is still around
at abvar.old_fq_isog until we decide there are no problems), and there's a
pull request to take advantage of them:
https://github.com/LMFDB/lmfdb/pull/2270.

I tried to add a bunch of indices and discovered the limit

[2017-09-13 13:21] edgarcosta commented on #54
it has a bunch of indexes on single fields, but I thought that the first
field in a multi-index would provide the same functionality (for example,
it has both [(u'p_rank', 1)] and [(u'p_rank', 1), (u'polynomial', 1)]).
Also, it seems redundant to include 'p_rank' after 'label' since there is
only one row with each label.  Or am I missing something?

You are correct as they have pointed out. I was

[2017-09-14 15:59] edgarcosta commented on #64
Thanks.
Did you also add the index in the cloud?

[2017-09-14 16:01] jwj61 commented on #64
No.  I am not sure if I have access to the cloud.  If I do, I don't know how to access it.

[2017-09-14 17:07] AndrewVSutherland commented on #64
I just updated the database on the cloud, which automatically adds the indexes, the BadPrimes index is there now.  In general I think adding individual indexes to collections on the cloud is a bad idea; unless there is a good reason not to, its safer to just run the standard update script.

[2017-09-14 17:16] edgarcosta commented on #64
Sounds good. The issue can then be closed.

On Sep 14, 2017 13:07, "Andrew Sutherland" <notifications@github.com> wrote:

[2017-09-14 17:20] #64 closed, assigned to nobody

[2017-09-15 11:38] #16 closed, assigned to nobody

[2017-09-24 10:18] roed314 commented on #54
I've switched over completely to the new data format and run tests; it
seems to be working fine.

I tried to create a reasonable set of indexes, though I don't know if I
succeeded.  You can see them at
https://github.com/LMFDB/lmfdb-inventory/pull/72.

I realized that I missed some number fields that can be added, but I don't
think it should hold up this coming out of beta.
David

On Wed, Sep 13,

[2017-09-24 11:45] AndrewVSutherland commented on #54
I've updated the database on the cloud in case you want to do some performance testing there -- note that we are using wired tiger as the database engine on the cloud, and this can significantly impact query performance (in both good and bad ways).

[2017-09-24 20:28] edgarcosta commented on #54
Here is the mongodb log while reading from the cloud and running the tests:
[code]

[2017-09-24 23:01] roed314 commented on #54
The decomposition queries are slow, as expected.  I don't see how to make
these queries faster using the current schema, since the decomposition is
stored as a list of lists (e.g. [['2.16.am_cn',1], ['1.16.ah',2]]  ).
Moreover, the code for the decomposition search currently supports
constructing very complicated queries.

In the short term, we could disable the ability to specify the
decompositio

[2017-09-25 00:46] AndrewVSutherland commented on #54
You can use the tcurl.sh script in https://github.com/LMFDB/lmfdb/tree/master/perfmon to get end-to-end timings for a list of URLs that represent queries you want to time.

I think the short term goal should just be to have basic queries be quick (e.g. search by dimension, or cardinality of the base field, number of points), and to optimize the things that are easy to optimize.

I don't think the

[2017-09-25 03:47] roed314 commented on #54
I've done some performance tests (results here: https://gist.github.com/roed314/015024d3e8994f51d44007f7dabcb11d) and concluded that www.lmfdb.org isn't running the most recent version of the abelian varieties code (for example, http://www.lmfdb.org/Variety/Abelian/Fq/?abvar_point_count=14-28 returns no results, while on my computer it displays an error).  Is it possible to push master to producti

[2017-09-25 08:46] AndrewVSutherland commented on #54
Done -- the code should be running on www.lmfdb.com within 15 minutes.

[2017-09-25 17:08] roed314 commented on #54
Something's wrong: when I go to http://www.lmfdb.org/Variety/Abelian/Fq/?polarizable=not_no I get a server error; both http://beta.lmfdb.org/Variety/Abelian/Fq/?polarizable=not_no and http://localhost:37777/Variety/Abelian/Fq/?polarizable=not_no work fine.  http://www.lmfdb.org/Variety/Abelian/Fq/?polarizable=no doesn't cause an error, but also returns no results.

I've posted a list at https://gi

[2017-09-25 18:40] AndrewVSutherland commented on #54
Sorry, there was a problem with the copy and it was still using the old data format.  It should be using the new data now, can you give it another try?

[2017-09-25 18:41] AndrewVSutherland commented on #54
It is definitely *much* faster!

[2017-09-25 21:15] roed314 commented on #54
Thanks!  I've done some more timings at https://gist.github.com/roed314/f946eb20eed1ee357164e525a3c1c79a

The main thing that I notice is that the `not_no` and `not_yes` queries are slow.  These are doing things like `{'is_jac': {'$ne': 1}}`.  Is there a better way to construct such queries?

Of course, there are also slow queries that aren't handled well by the indexes, but we're not going to be

[2017-09-25 22:02] roed314 commented on #54
Another run: https://gist.github.com/roed314/a38e4221fd96bd91dc2e653a55b7bb28, which includes square brackets (I had to change them to `%5B` and `%5D` to make curl happy).

I don't notice any new issues.

[2017-09-26 00:38] AndrewVSutherland commented on #54
@roed314 Most of the timings look quite good!

Regarding your question,  using {'is_jac':{'$lt':1}} will give the same result and be much faster than '$ne':1 (null values will sort before 0).  But this won't help {'is_jac':{'$ne':0}}.  It's silly, but the fastest thing to do would be to have 'is_jac' (and 'is_principal') take 3 values, -1,0,1 corresponding to no,unknown,yes, and then you could sup

[2017-09-26 02:12] roed314 commented on #54
Thanks!  Check out https://github.com/LMFDB/lmfdb/pull/2284, which I think addresses both problems (though I'm still running tests).

[2017-09-26 13:45] edgarcosta commented on #54
Great work @roed314!

[2017-09-26 17:19] roed314 commented on #54
Thanks!

[2017-10-14 12:53] JohnCremona commented on #55
I think this issue can be closed but have not checked thoroughly.

[2017-10-14 12:54] JohnCremona opened #73 "update bmfs/forms bmfs/dimensions elliptic_curves/nfcurves on cloud"
I have started doing this, so only opening the Issue for the record.  I'll close it when done.

[2017-10-14 12:57] JohnCremona commented on #73
There was a problem i updating nfcurves + rand and stats.  After creating the .new versions:
`
Renaming nfcurves to nfcurves.old and nfcurves.new to nfcurves in cloud database elliptic_curves...
MongoDB shell version: 3.2.17
connecting to: elliptic_curves
2017-10-14T12:52:47.852+0000 E QUERY    [thread1] Error: Authentication failed. :
DB.prototype._authOrThrow@src/mongo/shell/db.js:1441:20
@(auth

[2017-10-14 14:25] AndrewVSutherland commented on #73
The problem is that you are using an old version of update-cloud-db.sh, you need to pull the latest version into your lmfdb-gce directory (the latest updates on github are dated Sep 11, 2017, but you are using scripts dated Aug 21, 2017.

I just did the renaming manually (so the .new versions are now current and the previously current versions are now .old).  You should check that everything looks

[2017-10-14 14:46] JohnCremona commented on #73
Thanks for sorting this.  The reason I did not pull a new version of lmfdb-gce was a simple git mistake:  git status said that I was ahead of upstream/master by 6 commits, which is confusing!  I was behind upstream, but my local copy of upstream/master was out of date.  So I did not pull.  I should have instantly realised that the script needed updating after we made changes in authentication.  So

[2017-10-15 12:44] JohnCremona commented on #73
Finished including cleanup of the bmfs collections and the nfcurves ones.

[2017-10-15 12:44] #73 closed, assigned to nobody

[2017-11-18 14:36] JohnCremona opened #74 "update elliptic_curves.curves/curves.stats"
This follows the addition of torsion growth data, and is necessary before the next code push to prod.  I'm doing it now.

[2017-11-18 15:14] JohnCremona commented on #74
Done.  I'll leave this open since I have not yet done the cleanup, that will be done after the next code push to prod.

[2017-11-19 18:40] jwj61 opened #75 "Pull request for local fields"
Not needed immediately, but before the current master makes it to production, we should update

 fields
 fields.rand

from the database localfields.  There is a new entry and index.

[2017-11-19 18:44] AndrewVSutherland commented on #75
Done.  Let me know if everything looks OK and I'll delete the old versions.

[2017-11-19 23:58] jwj61 commented on #75
Looks ok.

[2017-11-20 01:47] AndrewVSutherland commented on #75
Thanks, old versions are gone.

[2017-11-20 01:47] #75 closed, assigned to nobody

[2018-01-08 21:20] jwj61 opened #76 "Update artin representations in cloud"
The collections
artin.field_data
artin.representations
artin.representations.rand

are ready to be updated to the cloud.  The main change is that polynomials are now use the new polredabs version, but it also contains some new fields/representations.

[2018-01-08 21:45] AndrewVSutherland commented on #76
Done.  Let me know if everything looks OK and I will then delete the old versions.

[2018-01-08 22:47] jwj61 commented on #76
Looks good.  Go ahead and delete old versions.

[2018-01-08 22:47] #76 closed, assigned to nobody

[2018-01-26 09:45] JohnCremona commented on #11
I'm going to close this since now the content should be added at http://beta.lmfdb.org/inventory/

[2018-01-26 09:45] #11 closed, assigned to nobody

[2018-01-26 09:45] JohnCremona commented on #12
I'm closing this as now the information should be added at http://beta.lmfdb.org/inventory/

[2018-01-26 09:45] #12 closed, assigned to nobody

[2018-01-26 09:48] JohnCremona commented on #23
The new inventory system viewable at http://beta.lmfdb.org/inventory/ does contain information about indexes (indices), for example click on "View Indices" for any of the collections at http://beta.lmfdb.org/inventory/abvar/

I will leave this issue open, since right now we have no easy way to edit this or update it.  I will probably add an issue on the main repository for this.

[2018-01-26 09:49] JohnCremona commented on #65
Can we close this @edgarcosta ?

[2018-01-26 09:51] JohnCremona commented on #74
I'm sorry but I cannot remember if I did this -- probably not since the last push to prod was on 2017 Oct 23.

[2018-01-26 09:56] JohnCremona opened #77 "Copy Inventory database & collections to cloud"
Before we next push to prod we need to copy the new database "inventory" and its collections (DB_ids, collection_ids, fields_auto, fiuelds_human, indexes, records, rollback -- or possibly only some of these) -- to the cloud.
I will check to see which collections are needed for www.lmfdb.org/inventory to work in the read-only setting there.
After that we should add these collections to the list of

[2018-01-26 14:35] edgarcosta commented on #65
Yes, we can

[2018-01-26 14:35] #65 closed, assigned to nobody

[2018-01-26 14:52] JohnCremona commented on #77
The answer is

and I just copied all 7 for simplicity.  Someone could delete all the content from the rollback collection (but leave the collection in place).  I used the usual script update-cloud-db.sh so had 7 pairs of warnings about things not existing and that does seem to have prevented the copies being made since http://www.lmfdb.org/api/ shows nothing there.  @edgarcosta would it be enough

[2018-01-26 14:59] JohnCremona commented on #77
I also added update_inventory scripts to the lmfdb-gce repository and would be grateful for someone to look and see if it looks good.

[2018-01-26 16:14] edgarcosta commented on #77
I will look into it

[2018-01-26 18:50] edgarcosta commented on #77
I have fixed the scripts, uploaded the inventory, and cleaned up the leftovers.

How often do we want to automatically update the inventory?

[2018-01-26 19:04] edgarcosta commented on #77
I set it up for every 20 mins.

[2018-01-26 19:27] JohnCremona commented on #77
Thanks, that sounds about right. We can review it later, when the system has been running for a while.

[2018-02-01 17:22] #77 closed, assigned to nobody

[2018-02-01 17:24] JohnCremona commented on #74
I realised that I could easily see from http://www.lmfdb.org/api/all that there are still some .old collections, so I am cleaning them up now...done.

[2018-02-01 17:25] #74 closed, assigned to nobody

[2018-02-01 17:26] JohnCremona opened #78 "updating elliptic_curves.nfcurves"
... after some tidying up, see https://github.com/LMFDB/lmfdb/pull/2364

I'll do this.

[2018-02-01 17:33] JohnCremona commented on #78
Done, and tidied up.

[2018-02-01 17:33] #78 closed, assigned to nobody

[2018-02-01 19:59] JohnCremona commented on #54
Can this be close?  I see that on the cloud db there are collections abvar.fq_isog_stats and fq_isog.stats which are similar -- perhaps one can be deleted?  In the code only the one with a . is referenced.  Dropping the extra one on the beta database is easy, but I'm not sure I know ho to drop on on the cloud.

[2018-02-01 21:39] AndrewVSutherland commented on #54
This can be closed.  I believe fq_isog_stats can be deleted, but I'll confirm with roed314 when I see him tomorrow.

[2018-02-01 21:39] #54 closed, assigned to nobody

[2018-02-04 20:10] jwj61 opened #79 "Data pull request for number fields"
Please upload

numberfields.fields
numberfields.fields.rand
numberfields.stats

to the cloud.

The main change is that this contains the latest (and possibly last) attempt to fill in class group information.  It also adds two octic fields suggested through the feedback page which allow us to increase the completeness claim for one signature, and two septic fields ramified at two smallish primes.

[2018-02-04 21:17] AndrewVSutherland commented on #79
I'll do this now.

[2018-02-05 19:32] jwj61 commented on #79
Thanks.  I see that the data is there including the statistics, but when I run a search on www.lmfdb.org and on beta, the one on beta completes quickly and the one on the main site times out.  Does it still have to build indexes?

http://beta.lmfdb.org/NumberField/?start=0&degree=8&signature=%5B0%2C4%5D&count=20
http://www.lmfdb.org/NumberField/?start=0&degree=8&signature=%5B0%2C4%5D&count=20

[2018-02-05 19:49] AndrewVSutherland commented on #79
I had switched www.lmfdb.org to read from the mirror while the update was in progress and just now switched it back to reading from ms, where the updated files should now be available.  The query seems to run quickly now, but can you check the data again (what you were looking at before was just a mirror of beta).

[2018-02-05 19:53] jwj61 commented on #79
I see.

This does not seem to have the new data.  Degree 7 ramified at exactly 2,73 should now have 10 fields rather than 8, and the total number of fields is different between main and beta.

[2018-02-05 19:56] AndrewVSutherland commented on #79
OK, I'll need to look more closely to see what went wrong with the update.  I'm traveling at the moment so this likely won't happen until tomorrow.

[2018-02-05 19:57] jwj61 commented on #79
No problem.

[2018-02-05 20:07] JohnCremona commented on #79
When I have done an update on any elliptic curve or ecnf or bianchi data I have not done the redirect which you (@AndrewVSutherland ) mentioned.  Do you do that because the number fields collection is a lot larger?  (Going by the dump size, number_fields is 39G while elliptic_curves is only 2.1G so that would make sense.)

[2018-02-05 20:19] AndrewVSutherland commented on #79
@JohnCremona Yes, for small updates I don't think this is necessary.  The LMFDB may slow to respond while it builds indexes, but if this only takes a few minutes, no big deal.  But for numberfields/fields it takes a couple of hours (BTW, the dump size is less relevant than the number of records and the number of indexes (and their complexity)).

[2018-02-06 02:53] AndrewVSutherland commented on #79
@jwj61 OK, the new data should be visible now (it hit a name conflict during renaming because of existing .old fields left over from the last update).

Can you check the data again and let me know if all is well (I will then delete the .old versions).

[2018-02-06 04:50] jwj61 commented on #79
Looks good.  Go ahead and delete old versions.

[2018-02-06 04:50] #79 closed, assigned to nobody

[2018-02-06 09:11] JohnCremona commented on #79
So yet another addition to the script https://github.com/edgarcosta/lmfdb-gce/blob/master/db_scripts/update-cloud-db.sh (I am good at suggesting work for others!) would be to test if there are already any *.old collections present, and if so bail out with a warning, doing nothing.

[2018-02-13 19:33] JohnCremona opened #80 "copy new hmfs collections to cloud"
The HMFs code now on beta reads from collections forms/forms.rand/forms.stats making the collections forms.search (etc) obsolete.  Prior to pushing this code change to prod too I'll copy the three new collections to the cloud.  Eventually the forms.search* collections can be dropped (on beta they have already been renamed).

[2018-02-13 19:40] JohnCremona commented on #80
I just did that and think it worked OK but there were some warnings since I used the update script on collections which were not already there:
[code]

[2018-02-23 11:50] JohnCremona commented on #80
This can be closed after #2357 on the main repository is closed. [That's the wrong number but I am not going to look for the right one, I am just closing this.]

[2018-02-23 11:52] JohnCremona opened #81 "copy elliptic_curves.curves to cloud"
I noticed that for conductors 380k-400k the local_data had no 'rootno' field, though the website code was aware of that possibility and computed local root numbers on the fly when absent.  I have added the missing data on the beta database.

I'll do this.

[2018-02-23 12:06] JohnCremona commented on #81
Done and tidied up.

[2018-02-23 12:06] #81 closed, assigned to nobody

[2018-03-06 09:37] #80 closed, assigned to nobody

[2018-03-13 20:39] jwj61 opened #82 "number field pull request"
Please copy the following to the cloud:

numberfields.fields
numberfields.fields.rand
numberfields.stats

This adds a bunch of trinomials (in response to a comment through the feedback page), several PGL(2,7) octics (which are now mentioned in a paper by J&R), and fills in optional data for more fields.

[2018-03-13 20:56] JohnCremona commented on #82
I could do this but would rather not start now (9pm UK) as I think it takes a while and I would want to be around when it finishes.  If no-one else has already, I can do it Wednesday morning.

[2018-03-13 20:57] jwj61 commented on #82
No hurry, and yes, it takes hours to build the indexes.

[2018-03-14 00:00] AndrewVSutherland commented on #82
I just kicked this off.  I switched the production server to read from m0 so the index builds won't disrupt anything.  Once all the indexes are built I will switch it back and let you know (might be tomorrow morning, depending on how long it takes).

[2018-03-14 10:09] AndrewVSutherland commented on #82
The data should now be available on www.lmfdb.org, let me know if everything looks good and I will delete the old files.

[2018-03-14 10:13] JohnCremona commented on #82
Thanks @AndrewVSutherland -- switching which db the production servers reads from is definitely above my pay grade.

[2018-03-14 20:01] jwj61 commented on #82
Looks good.  Go ahead and drop old files.

[2018-03-14 20:01] #82 closed, assigned to nobody

[2018-03-14 21:20] AndrewVSutherland commented on #82
Done, thanks.

[2018-05-18 12:32] jwj61 opened #83 "Pull request for number fields"
numberfields.fields has been updated to remove the two keys related to the old version of polredabs, as has the index for them.  Also, more empty values (such as [] or {}) have been entered for optional keys where there was no data before to make the set of keys per entry more uniform.  There is no rush on this since none of it affects the end user.

[2018-05-18 15:21] JohnCremona commented on #83
OK, I'll do an inventory rescrape so that is visible there, and we'll need to "copy to the cloud" too.  I seem to remember that takes a while for this collection, so might best be done overnight.

[2018-05-18 15:48] JohnCremona commented on #83
Do the pages http://beta.lmfdb.org/inventory/numberfields/fields/ and http://beta.lmfdb.org/inventory/numberfields/fields/records/ look right to you?  Much tidier.

[2018-05-18 15:50] AndrewVSutherland commented on #83
I can take care of copying this to the cloud (I'll switch www.lmfdb.org to read from the mirror so there should be no impact on users).

[2018-05-21 11:44] jwj61 commented on #83
For @JohnCremona, the .../records looks right.  I will need to go back and look again at .../fields.

[2018-05-21 11:44] #83 closed, assigned to nobody

[2018-05-31 01:37] jwj61 opened #84 "Artin representation pull request"
This is a pull request for artin representations:
 artin.field_data
 artin.representations
 artin.representations.rand

There is new data, all of small conductor, including some 2-dimensional representations for a project by Booker, et. al.

[2018-05-31 02:14] AndrewVSutherland commented on #84
Done.  Let me know if everything looks good and I will remove the old versions.

[2018-05-31 03:44] jwj61 commented on #84
Looks good

[2018-05-31 03:44] #84 closed, assigned to nobody